@font-face {
    src: url("https://fonts.googleapis.com/css?family=open+Sans+condensed:300");
    font-family: 'open Sans Condensed', Sans-serif;
}

.slide__text-doc {
    font-family: 'open Sans Condensed', sans-serif;
}


*, *:before, *:after{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

html, body {
    font-size: 62.5%;
    height: 100%;
    overflow: hidden;

}

body{
    background: #000;
}

svg {
    display: block;

    overflow: visible;
}


    
.slider-container {
    position: relative;
    height: 80%;
    margin: auto;
    user-select: none;
    cursor: all-scroll;
}